body{
    font-family:sans-serif;
    background-color: bisque;
}
label{
    display: block;
    padding: 3px;
}
input{
    display:block;
}
input[type=radio] {
    display:inline;
}
.container-fluid{
    text-align: left;
    margin: 20px;;
    margin-left: 30%;
    width: 50%;
    border-style: ridge;
    background-color: antiquewhite;
}
